
 
.desktop {
  background-color: #2d2319;
  flex-direction: row;
  justify-content: center;
  display: flex;
  width: 100%;
}

.desktop .div {
  background-color: #2d2319;
  height: 3422px;
  position:static;
  width: 2591px;
}

.desktop .navbar {
  box-shadow: 0px 4px 4px #00000040;
  height: 29px;
  left: 1710px;
  position: absolute;
  top: 88px;
  width: 770px;
}

.desktop .navbar-2 {
  align-items: flex-start;
  display: flex;
  gap: 105px;
  position: relative;
  width: 770px;
}

.desktop .text-wrapper {
  color: #f2e7e7;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 67px;
}

.desktop .text-wrapper-2 {
  color: #f2e7e7;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 114px;
}

.desktop .text-wrapper-3 {
  color: #f2e7e7;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 88px;
}

.desktop .text-wrapper-4 {
  color: #f2e7e7;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20.8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  margin-top: -1px;
  position: relative;
  width: 123px;
}

.desktop .text-wrapper-5 {
  color: #ffffff;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  left: 238px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 71px;
  width: 459px;
}

.desktop .overlap {
  height: 748px;
  left: 336px;
  position: absolute;
  top: 231px;
  width: 2426px;
}

.desktop .overlap-group {
  height: 670px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2426px;
}

.desktop .ellipse {
  background-color: #ffc3e1;
  border-radius: 282px/218px;
  filter: blur(300px);
  height: 436px;
  left: 1862px;
  position: absolute;
  top: 144px;
  width: 564px;
}

.desktop .ellipse-2 {
  background-color: #34ffbc;
  border: 1px solid;
  border-color: #000000;
  border-radius: 343.5px/72px;
  filter: blur(300px);
  height: 144px;
  left: 914px;
  position: absolute;
  top: 208px;
  width: 687px;
}

.desktop .poetry {
  height: 670px;
  left: 1322px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 698px;
}

.desktop .p {
  color: #ffffff;
  font-family: "Outfit-Bold", Helvetica;
  font-size: 80px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 109px;
  width: 1274px;
}

.desktop .text-wrapper-6 {
  color: #f4eaea;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 210px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 478px;
  white-space: nowrap;
  width: 1074px;
}

.desktop .div-wrapper {
  background-color: #96ffd1;
  border-radius: 30px;
  height: 100px;
  left: 462px;
  position: absolute;
  top: 648px;
  width: 350px;
}

.desktop .text-wrapper-7 {
  color: #000000;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 105px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 180px;
}

.desktop .overlap-2 {
  background-color: #ffc3de;
  border-radius: 30px;
  height: 100px;
  left: 11px;
  position: absolute;
  top: 648px;
  width: 350px;
}

.desktop .text-wrapper-8 {
  color: #000000;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 120px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 180px;
}

.desktop .ellipse-3 {
  background-color: #ffc3e1;
  border-radius: 191.5px/243px;
  filter: blur(300px);
  height: 486px;
  left: -145px;
  position: absolute;
  top: -47px;
  width: 383px;
}

.desktop .fountain-pen {
  height: 121px;
  left: 1371px;
  object-fit: cover;
  position: absolute;
  top: 1026px;
  width: 113px;
}

.desktop .overlap-3 {
  height: 180px;
  left: 283px;
  position: absolute;
  top: 1343px;
  width: 2288px;
}

.desktop .your-daily-sanctuary {
  color: #fff1f1;
  font-family: "Reenie Beanie-Regular", Helvetica;
  font-size: 80px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 2288px;
}

.desktop .text-wrapper-9 {
  color: #ffffff;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 950px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 98px;
  white-space: nowrap;
  width: 387px;
}

.desktop .text-wrapper-10 {
  color: #fbeaea;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 1003px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 1218px;
  white-space: nowrap;
  width: 736px;
}

.desktop .fingerprint {
  height: 471px;
  left: 262px;
  object-fit: cover;
  position: absolute;
  top: 1579px;
  width: 465px;
}

.desktop .overlap-4 {
  height: 739px;
  left: 243px;
  position: absolute;
  top: 2284px;
  width: 2519px;
}

.desktop .ellipse-4 {
  background-color: #6c6fdb;
  border-radius: 433.5px/368px;
  filter: blur(400px);
  height: 736px;
  left: 1652px;
  position: absolute;
  top: 3px;
  width: 867px;
}

.desktop .element-free-sign-up-join {
  color: #ffffff;
  font-family: "Reenie Beanie-Regular", Helvetica;
  font-size: 80px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 0;
  width: 1756px;
}

.desktop .book {
  height: 403px;
  left: 1812px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 456px;
}

.desktop .overlap-group-2 {
  height: 550px;
  left: 941px;
  position: absolute;
  top: 1645px;
  width: 1453px;
}

.desktop .private-easy-secure {
  color: #ffffff;
  font-family: "Reenie Beanie-Regular", Helvetica;
  font-size: 80px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 0;
  width: 1453px;
}

.desktop .text-wrapper-11 {
  color: #ffffff;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 324px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 472px;
  white-space: nowrap;
  width: 257px;
}

.desktop .overlap-5 {
  background-color: #d9d9d917;
  height: 222px;
  left: 100;
  position: absolute;
  top: 3200px;
  width: 2591px;
}

.desktop .text-wrapper-12 {
  color: #aad9d9;
  font-family: "Righteous-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 171px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 44px;
  width: 2223px;
}


